<nav class="navbar navbar-expand-lg bg-light sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PROGANTARA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Task
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/pertemuan/2">Pertemuan 2 : Test Image</a>
            </li>
            <li><a class="dropdown-item" href="#">Coming Soon</a></li>            
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search (coming soon)"
            aria-label="Search (coming soon)"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
